common --noenable_bzlmod
build --incompatible_enable_cc_toolchain_resolution

build --features=c++20
build --features=-c++17
build --compiler=compiler

build --nostart_end_lib
build --strip never
build --test_output=errors

build --workspace_status_command=tools/workspace_status.sh
build -c opt
build --stamp

build --platforms=@com_github_mjbots_rules_mbed//:stm32g4
build --crosstool_top=@com_github_mjbots_rules_mbed//tools/cc_toolchain:toolchain
build --cpu=stm32g4
